doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport", content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1")
    title Portfolio

    include ./favicons

    include ./templates/work-template

    style(type="text/css").
      .is-loading {
        background: #2A2A2C;
      }

      .is-loading > * {
        opacity: 0;
      }


  body.is-loading

    // https://www.nicolasriciotti.com/clients/lpc/#!en/home/exceptions
    // https://github.com/akella/angled-scroll-sections/blob/master/src/js/canvas.js

    //.loading-overlay


    header.header

    .hamburger
      .line
      .line
      .line

    .audio-button
      .button-handle
        include ../images/icons/audio-button.svg
    .volume-control
      input(type="range", min="0.0", max="1.0", step="0.001", value="0.5")
    .next-track
      include ../images/icons/next-track.svg

    nav.pagination
      .page-item.is-active(data-goto-page="home" data-toggle="tooltip" data-placement="right" title="Home")
        .item-dot
      .page-item(data-goto-page="works" data-toggle="tooltip" data-placement="right" title="About")
        .item-dot
      .page-item(data-goto-page="contact" data-toggle="tooltip" data-placement="right" title="Contact")
        .item-dot

      .fluid-item.full-size
      .fluid-item
      .fluid-item
      .fluid-item
      .fluid-item
      .fluid-item
      .fluid-item
      .fluid-item

    include sidebar

    main.main
      section.home.is-active(data-page="home")
        include sections-content/section-home

      section.works(data-page="works")
        include sections-content/section-works

      section.contact(data-page="contact")
        include sections-content/section-contacts

    .main-overlay