doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport", content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1")
    title Portfolio

    include ./favicons



  body.is-loading

    // https://www.nicolasriciotti.com/clients/lpc/#!en/home/exceptions
    // https://github.com/akella/angled-scroll-sections/blob/master/src/js/canvas.js

    //.loading-overlay


    header.header

    .hamburger
      .line
      .line
      .line

    .audio-button(role="button")
      include ../images/icons/audio-button.svg

    nav.pagination
      .page-item.is-active(data-goto-page="home" data-toggle="tooltip" data-placement="right" title="Home")
        .item-dot
      .page-item(data-goto-page="works" data-toggle="tooltip" data-placement="right" title="About")
        .item-dot
      .page-item(data-goto-page="contact" data-toggle="tooltip" data-placement="right" title="Contact")
        .item-dot

      .fluid-item.full-size
      .fluid-item
      .fluid-item
      .fluid-item
      .fluid-item
      .fluid-item
      .fluid-item
      .fluid-item

    include sidebar

    main.main
      section.home.is-active(data-page="home")
        include sections-content/section-home

      section.works(data-page="works")
        include sections-content/section-works

      section.contact(data-page="contact")
        include sections-content/section-contacts

    .main-overlay

    .contact-overlay.d-flex.align-items-center
      .container
        .row
          .col-sm-12
            h2.text-center Contact me
          .col-sm-12
            form.w-100(method="POST" action="/sendMessage")
              .row.justify-content-center
                .col-sm-12.col-md-8
                  .form-group
                    .material-input
                      label
                        .placeholder Subject
                        input.form-control(type="text" name="subject")
                .col-sm-12.col-md-8
                  .form-group
                    .material-input
                      label
                        .placeholder Message
                        textarea.form-control(name="message" rows="3")
                .col-sm-12.col-md-8
                  .form-group
                    button.btn.btn-success Send