$sidebar-bg: white;

$hamburger-color: white;
$hamburger-open-color: black;
$hamburger-width: 40px;
$hamburger-height: 30px;
$hamburger-line-width: 1px;

$secondary-color: #f4511e;

$pagination-point-color: #fff8e1;
$pagination-point-active-color: #f4511e;
$pagination-point-border: #424242;