@import "vars";

.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.greetings {
  margin-left: 30px;

  @include media-breakpoint-up(lg) {
    margin-left: 100px;
  }

  .title {
    font-family: UnknownFont, sans-serif;
    font-weight: 500;
    font-size: 73px;
    line-height: 63px;
    color: white;
    position: relative;

    @include media-breakpoint-down(lg) {
      font-size: 60px;
      line-height: 53px;
    }

    @include media-breakpoint-down(md) {
      font-size: 50px;
      line-height: 43px;
    }

    @include media-breakpoint-down(sm) {
      font-size: 40px;
      line-height: 33px;
    }

    &:before, &:after {
      position: absolute;
      color: #515152;
      font-size: 18px;
    }

    //&:before {
    //  content: "<h1>";
    //  top: 0;
    //}
    //
    //&:after {
    //  content: "</h1>";
    //  bottom: 0;
    //  right: 0;
    //  transform: translateX(120%);
    //  opacity: 0;
    //  transition: opacity .3s ease-out;
    //}

    &.animation-finished {
      &:after {
        opacity: 1;
      }
    }
  }

  .sub-title {
    margin-top: 9px;
    font-weight: normal;
    font-size: 13px;
    font-family: "Open Sans", sans-serif;
    letter-spacing: 3px;
    color: #8d8d8d;

    @include media-breakpoint-down(lg) {
      font-size: 14px;
    }

    @include media-breakpoint-down(md) {
      font-size: 13px;
    }

    @include media-breakpoint-down(sm) {
      font-size: 11px;
    }
  }
}