@import "vars";

.works-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.works-list {
  margin: 90px 100px;
  width: calc(100% - 200px);
  height: calc(100% - 180px);
  overflow-x: hidden;
  overflow-y: auto;

  @include media-breakpoint-down(md) {
    margin: 90px 15px 15px 15px;
    width: calc(100% - 30px);
    height: calc(100% - 105px);
  }
}

.work-project {
  margin-bottom: 15px;

  .project-container {
    position: relative;
  }

  .image {
    height: 100%;
    position: relative;

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center center;
      transition: ease-in all 400ms;
    }

    .bubble {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 0;
      height: 0;
      opacity: 1;
      border-radius: 50%;
      background: $secondary-color;
    }

    &:after {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.5);
      transition: ease-in opacity 250ms;
    }
  }

  .work-description {
    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    top: 0;

    width: 100%;
    height: 100%;

    overflow: hidden;

    opacity: 0;
    transition: ease-in opacity 250ms;

    .title {
      font-size: 20px;
      font-weight: 300;
      color: white;

      white-space: nowrap;
    }
  }

  &:hover {
    .work-description {
      opacity: 1;
    }

    .image {
      img {
        transform: scale(1.1);
      }

      &:after {
        opacity: 0;
      }
    }

    cursor: pointer;
  }
}