template#work-preview
  .work-preview
    .close-button(role='button')
      .line
      .line
    .image-container
      //.image-background
    .image-loading Loading...
    .work-info
      .title
      .description